@charset "UTF-8";

body{
    background-color:rgb(245, 225, 189);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(22, 175, 124);
}
h2{
    color: rgb(172, 18, 18);
}
p{
    text-align: justify;
}