@charset "UTF8";

/* 
id = #
class = .
*/

body{
    background-color: #65F79D;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #2C6B44;
}

h1#principal{
    text-align: center;
    background-color: rgb(33, 148, 110);
    color: white;
}

h2{
    color: #46AB6D;
}

.basico{
    color: green
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}