@charset "UTF-8";

main{
    background: white;
    width: 600px;
    box-shadow: 5px 5px 15px #01232683;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}
body{
    background: #BFB84E;
}
h1{
    color: #012326;
    text-align: center;
}
h2{
    color: #735439;
}
p{
    text-align: justify;
    color: #A67F37;
}
